* {
    font-family: "Poppins", sans-serif;
}

h1, h3 {
    text-align: center;
    color: #ffffff;
}

body {
    background: linear-gradient(to bottom, #0064fb, #003078);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden; 
}

.bouton-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.title-container {
    background-color: #995522;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
    max-width: 425px;
    margin: 0 auto;
    border: 3px solid white; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.title-container h1, 
.title-container h3{
    margin: 0;
}

.table-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.content-table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    min-width: 400px;
    overflow: hidden;
    width: 100%;
    max-width: 1450px;
    background: #ffffff;
    border-radius: 10px; 
    border: 3px solid #7c3bde; 
    table-layout: fixed;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.content-table th, .content-table td {
    padding: 12px 15px;
    border-left: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    text-align: center;
    color: #fec22a;
    border-top: none;
    border-bottom: none; 
    font-size: 1.4em;
    font-family: sans-serif;
}

.content-table thead tr {
    background-color: #995522;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}

.content-table tbody tr:nth-child(even) td {
    background-color: #a1582c; 
}

.content-table tbody tr:nth-child(odd) td {
    background-color: #c1743f;
}

.content-table tbody tr td {
    border-bottom: none;
}

.content-table tbody tr {
    color: #ffffff;
}

.difficulty-section {
    text-align: center;
    margin-bottom: 20px;
}

.difficulty-section 
.section-text h3 {
    margin: 0;
}

.section-text {
    max-width: 225px;
    margin: 0 auto;
}

.table-section {
    margin-top: -27px;
}

.bouton-section {
    margin-top: 0px;
}

button {
    border: none;
    background: none;
    color: inherit;
    padding: 11px 30px; 
    cursor: pointer; 
    font: inherit; 
    border-radius: 15px 15px 0 0;
    transition: background-color 0.3s;
}

.bouton-section a:not(:last-child) {
    margin-right: 10px;
}

.content-table th button,
.content-table td button {
    padding: 4px;
    border-radius: 6px;
    position: relative; 
    background-color: transparent;
    transition: background-color 0.5s;
    margin-top: -100px;
}

.content-table th button:hover,
.content-table td button:hover {
    background-color: #995522;
}

button:hover {
    background-color: #99dd22;
}

.bouton-recommencer {
    border: none;
    background: none;
    color: inherit;
    padding: 11px 30px; 
    cursor: pointer; 
    font: inherit; 
    border-radius: 15px;
    transition: background-color 0.3s;
}

.bouton-historique {
    border: none;
    background: none;
    color: inherit;
    padding: 11px 30px; 
    cursor: pointer; 
    font: inherit; 
    border-radius: 15px;
    transition: background-color 0.3s;
}

.bouton-autre_compte {
    border: none;
    background: none;
    color: white;
    padding: 11px 30px; 
    cursor: pointer; 
    font: inherit; 
    border-radius: 15px;
    transition: background-color 0.3s;
}


.bouton-section2 {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.bouton-section2 a:not(:last-child) {
    margin-bottom: 10px;
}

.bouton-recommencer:hover,
.bouton-historique:hover {
    background-color: #99dd22;
    text-shadow: 8px 8px 20px rgba(0, 0, 0, 2);
}

.bouton-recommencer:hover,
.bouton-historique:hover,
.bouton-autre_compte:hover {
    padding: 14px 36px;
}

.bouton-recommencer,
.bouton-historique,
.bouton-autre_compte {
    transition: padding 0.3s ease;
}

.bouton-recommencer,
.bouton-historique {
    background-color: #a1582c; 
    color: white; 
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.75);
}

.bouton-autre_compte:hover {
    background-color: #930e0e;
    text-shadow: 8px 8px 20px rgba(0, 0, 0, 2);
}

.bouton-autre_compte {
    background-color: #d11111;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.75);
}

.bouton-deconnexion {
    text-align: center;
}

.content-table th {
    border-bottom: 3px solid #ffffff; 
}

.bouton-tous,
.bouton-facile,
.bouton-moyen,
.bouton-difficile {
    border: 3px solid white;
    font-weight: bold;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.75);
    transition: padding 0.3s ease;
}

.bouton-tous:hover,
.bouton-facile:hover,
.bouton-moyen:hover,
.bouton-difficile:hover {
    padding: 11px 36px;
}

#deconnexion-btn {
    display: block;
    margin: 0px auto 0;
    width: fit-content; 
}

