* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    cursor: default;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to bottom, #0064fb, #003078);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.title-container {
    background-color: #c1743f;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-bottom: 40px;
}

.title-container h1,
.title-container h3 {
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

button {
    margin: 10px;
}

p {
    text-decoration: none;
    color: white;
    padding: 7px 0px;
    font: inherit;
}

.bouton-soumettre {
    border: none;
    background: none;
    color: inherit;
    padding: 11px 30px;
    cursor: pointer;
    font: inherit;
    border-radius: 15px;
    transition: background-color 0.3s;
    border-radius: 15px;
    transition: padding 0.3s ease;
}

.bouton-soumettre {
    background-color: #c1743f;
    color: white;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.75);
}

.bouton-soumettre:hover {
    background-color: #99dd22;
    text-shadow: 8px 8px 20px rgba(0, 0, 0, 2);
    padding: 12px 36px;
}

.bouton-section a:not(:last-child) {
    margin-bottom: 10px;
}

.button-wrapper {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 15px;
    padding: 10px;
    background-color: #c1743f;
}

.all {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 15px;
    padding: 20px 50px;
    background-color: #995522;
    text-align: center;
    min-width: 550px;
}

.devinez_une_lettre {
    color: white;
}

.ensemble-p {
    background-color: #c1743f;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    margin-bottom: 40px;
    min-width: 470px;
}


@keyframes blink {
  50% {
    opacity: 0;
  }
}

.input-container {
    position: relative;
    display: inline-block;
  }
  
  input#lettre {
    font-size: 16px;
    padding: 5px; 
    border: none;
    background-color: transparent;
    color: white;
    outline: none;
    text-align: center;
    width: 100px;
    height: 30px;
    caret-color: transparent; 
    pointer-events: none;
  }
  
  .input-container label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: default;
  }
  

.input-container::after {
  content: "_";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  animation: blink 1s infinite;
}
  