h1 {
    font-size: 56px;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 18px;
}

#secondarycolor {
    color: #FFAAAA;
}

#thirdcolor {
    color: #320A37;
}

@font-face {
    font-family: "Poppins";
    src: url('ttf/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "PoppinsItalic";
    src: url('Poppins-Italic.ttf') format('truetype');
}

.error {
    padding: 0px 0px;
    margin-top: -100px;
    margin-bottom: 120px;
}

em {
    font-family: "PoppinsItalic";
}