.bouton-tous {
    background-color: #995522; 
    color: white;
}

.bouton-facile {
    background-color: #995522; 
    color: white;
}

.bouton-moyen {
    background-color: #99dd22;
    color: white;
}

.bouton-difficile {
    background-color: #995522; 
    color: white; 
}

.content-table th button {
    padding: 4px;
    border-radius: 6px;
    position: relative; 
    background-color: transparent;
    transition: background-color 0.5s;
    margin-top: -100px;
    color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    text-indent: -9999px; 
    width: 24px; 
    height: 34px; 
    background-position: center left; 
}


.content-table th button[name="sort_key"][value="nom_asc_moyen"],
.content-table th button[name="sort_key"][value="nombre_de_victoire_total_moyen_asc_moyen"],
.content-table th button[name="sort_key"][value="victoire_asc_moyen"] {
    background-image: url('/static/images/fleche_haut_bleu.png');
    background-position-y: -3px; 
}

.content-table th button[name="sort_key"][value="nom_desc_moyen"],
.content-table th button[name="sort_key"][value="victoire_desc_moyen"],
.content-table th button[name="sort_key"][value="nombre_de_victoire_total_moyen_desc_moyen"] {
    background-image: url('/static/images/fleche_bas_bleu.png');
}

.content-table th button:hover[name="sort_key"][value="nom_asc_moyen"],
.content-table th button:hover[name="sort_key"][value="nombre_de_victoire_total_moyen_asc_moyen"],
.content-table th button:hover[name="sort_key"][value="victoire_asc_moyen"] {
    background-image: url('/static/images/fleche_haut_verte.png'); 
    background-position-y: -3px; 
}

.content-table th button:hover[name="sort_key"][value="nom_desc_moyen"],
.content-table th button:hover[name="sort_key"][value="victoire_desc_moyen"],
.content-table th button:hover[name="sort_key"][value="nombre_de_victoire_total_moyen_desc_moyen"] {
    background-image: url('/static/images/fleche_bas_verte.png'); 
}