<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/global.css">
</head>
<body>
    <div class="navbar">
        <img class="logo" src="../static/Picture/logo.svg" alt="logo">
        <div class="navaccount">
            <img class="indication" src="../static/Picture/indication.svg" alt="indication">
            <img class="account" src="../static/Picture/account.svg" alt="account">
        </div>
    </div>
    <div class="wrapper">
        <div class="container">
            
        </div>
    </div>
</body>
</html>
