<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/global.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="navbar">
                <img class="logo" src="../static/Picture/logo.svg" alt="logo">
                <img class="account" src="../static/Picture/account.svg" alt="account">
            </div>
            <div class="main">
                <div class="firstcontainer">
                    <a href="#" class="premiumcontainer">
                        <p class="abonnementpremium">Abonnement Premium</p>
                        <img class="premium" src="../static/Picture/Crown.svg" alt="logo">
                    </a>
                    <div class="cardcontainer">
                        <div class="card1">
                            <h2 class="cardtitle">Parking de la Meuse</h2>
                            <p class="cardparagraph">Allée des brebis</p>
                        </div>
                    </div>
                </div>
                <div class="secondcontainerwrapper">
                    <div class="secondcontainer">
                        <div class="titlecontainer">
                            <h1 class="title">Garez-vous avec simplicité.</h1>
                        </div>
                            <div class="barrederecherche">
                                <input class="input" type="text" id="" name="" placeholder="Où ?" required>
                            </div>
                            <div>
                                <img class="map" src="../static/Picture/map.svg" alt="map">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
