<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/global.css">
</head>
<div class="navbar">
    <img class="logo" src="../static/Picture/logo.svg" alt="logo">
    <div class="navaccount">
        <img class="account" src="../static/Picture/account.svg" alt="account">
    </div>
</div>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="main">
                <div class="firstcontainer">
                    <a href="#" class="premiumcontainer">
                        <p class="abonnementpremium">Abonnement Premium</p>
                        <img class="premium" src="../static/Picture/Crown.svg" alt="logo">
                    </a>
                    <div class="cardcontainer">
                        <a href="/detailparking/{{parking1[0]}}" class="card">
                            <div class="leftcontainer">
                                <h2 class="cardtitle">{{ parking1[1] }}</h2>
                                <p class="cardparagraph">{{ parking1[2] }}</p>
                                <p class="cardnbplace"><span id="{{color1}}">{{ nombre_places_disponibles_parking1 }}</span> sur {{ nombre_places_totales_parking1 }}</p>
                                <div class="cardpicturecontainer">
                                    <img class="cardpicture" src="../static/Picture/handicap.svg" alt="handicap">
                                    <img class="cardpicture" src="../static/Picture/camera.svg" alt="camera">
                                    <img class="cardpicture" src="../static/Picture/hauteur.svg" alt="hauteur">
                                </div>
                            </div>
                            <div class="rightcontainer">
                                <div class="notecontainer">
                                    <p class="note">2</p>
                                    <img class="star" src="../static/Picture/Star.svg" alt="star">
                                    <img class="star" src="../static/Picture/Star.svg" alt="star">
                                </div>
                                <p class="nbavis">52 avis</p>
                            </div>
                        </a>
                        <a href="/detailparking/{{parking2[0]}}" class="card">
                            <div class="leftcontainer">
                                <h2 class="cardtitle">{{ parking2[1] }}</h2>
                                <p class="cardparagraph">{{ parking2[2] }}</p>
                                <p class="cardnbplace"><span id="{{color2}}">{{ nombre_places_disponibles_parking2 }}</span> sur {{ nombre_places_totales_parking2 }}</p>
                                <div class="cardpicturecontainer">
                                    <img class="cardpicture" src="../static/Picture/handicap.svg" alt="handicap">
                                    <img class="cardpicture" src="../static/Picture/camera.svg" alt="camera">
                                    <img class="cardpicture" src="../static/Picture/hauteur.svg" alt="hauteur">
                                </div>
                            </div>
                            <div class="rightcontainer">
                                <div class="notecontainer">
                                    <p class="note">1</p>
                                    <img class="star" src="../static/Picture/Star.svg" alt="star">
                                </div>
                                <p class="nbavis">132 avis</p>
                            </div>
                        </a>
                        <a href="/detailparking/{{parking3[0]}}" class="card">
                            <div class="leftcontainer">
                                <h2 class="cardtitle">{{ parking3[1] }}</h2>
                                <p class="cardparagraph">{{ parking3[2] }}</p>
                                <p class="cardnbplace"><span id="{{color3}}">{{ nombre_places_disponibles_parking3 }}</span> sur {{ nombre_places_totales_parking3 }}</p>
                                <div class="cardpicturecontainer">
                                    <img class="cardpicture" src="../static/Picture/handicap.svg" alt="handicap">
                                    <img class="cardpicture" src="../static/Picture/camera.svg" alt="camera">
                                    <img class="cardpicture" src="../static/Picture/hauteur.svg" alt="hauteur">
                                </div>
                            </div>
                            <div class="rightcontainer">
                                <div class="notecontainer">
                                    <p class="note">3</p>
                                    <img class="star" src="../static/Picture/Star.svg" alt="star">
                                    <img class="star" src="../static/Picture/Star.svg" alt="star">
                                    <img class="star" src="../static/Picture/Star.svg" alt="star">
                                </div>
                                <p class="nbavis">100 avis</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="secondcontainerwrapper">
                    <div class="secondcontainer">
                        <div class="titlecontainer">
                            <h1 class="title">Garez-vous avec simplicité.</h1>
                        </div>
                        <div class="barrederecherche">
                            <form method="post" action="/home">
                                <input class="input" type="text" id="Nom_Parking" name="Nom_Parking" placeholder="Où ?" required>
                                <button type="submit" class="button"><img src="../static/Picture/Search.svg" alt="search"></button>
                            </form>
                                <div class="vehicule">
                                <p class="paragraphvehicule">Je change de véhicule</p>
                                <img class="car" src="../static/Picture/Car.svg" alt="car">
                            </div>
                        </div>
                        <div>
                            <img class="map" src="../static/Picture/map.svg" alt="map">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
