<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/global.css">
</head>
<body>
    <div class="navbar">
        <img class="logo" src="../static/Picture/logo.svg" alt="logo">
        <div class="navaccount">
            <img class="indication" src="../static/Picture/indication.svg" alt="indication">
            <img class="account" src="../static/Picture/account.svg" alt="account">
        </div>
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="main">
                <div class="firstcontainer">
                    <a href="#" class="premiumcontainer">
                        <p class="abonnementpremium">Abonnement Premium</p>
                        <img class="premium" src="../static/Picture/Crown.svg" alt="logo">
                    </a>
                    <div class="cardcontainer">
                        <a href="#" class="card">
                            <div class="leftcontainer">
                                <h2 class="cardtitle">Parking de la Meuse</h2>
                                <p class="cardparagraph">Allée des brebis</p>
                                <p class="cardnbplace"><span id="green">331</span> sur 500</p>
                                <div class="cardpicturecontainer">
                                    <img class="cardpicture" src="../static/Picture/handicap.svg" alt="handicap">
                                    <img class="cardpicture" src="../static/Picture/camera.svg" alt="camera">
                                    <img class="cardpicture" src="../static/Picture/hauteur.svg" alt="hauteur">
                                </div>
                            </div>
                            <div class="rightcontainer">
                                <div class="notecontainer">
                                    <p class="note">3</p>
                                    <img class="star" src="../static/Picture/Star.svg" alt="star">
                                    <img class="star" src="../static/Picture/Star.svg" alt="star">
                                    <img class="star" src="../static/Picture/Star.svg" alt="star">
                                </div>
                                <p class="nbavis">100 avis</p>
                            </div>
                        </a>
                        <a href="#" class="card">
                            <div class="leftcontainer">
                                <h2 class="cardtitle">Parking de la Meuse</h2>
                                <p class="cardparagraph">Allée des brebis</p>
                                <p class="cardnbplace"><span id="orange">100</span> sur 500</p>
                                <div class="cardpicturecontainer">
                                    <img class="cardpicture" src="../static/Picture/handicap.svg" alt="handicap">
                                    <img class="cardpicture" src="../static/Picture/camera.svg" alt="camera">
                                    <img class="cardpicture" src="../static/Picture/hauteur.svg" alt="hauteur">
                                </div>
                            </div>
                            <div class="rightcontainer">
                                <div class="notecontainer">
                                    <p class="note">3</p>
                                    <img class="star" src="../static/Picture/Star.svg" alt="star">
                                    <img class="star" src="../static/Picture/Star.svg" alt="star">
                                    <img class="star" src="../static/Picture/Star.svg" alt="star">
                                </div>
                                <p class="nbavis">100 avis</p>
                            </div>
                        </a>
                        <a href="#" class="card">
                            <div class="leftcontainer">
                                <h2 class="cardtitle">Parking de la Meuse</h2>
                                <p class="cardparagraph">Allée des brebis</p>
                                <p class="cardnbplace"><span id="red">20</span> sur 500</p>
                                <div class="cardpicturecontainer">
                                    <img class="cardpicture" src="../static/Picture/handicap.svg" alt="handicap">
                                    <img class="cardpicture" src="../static/Picture/camera.svg" alt="camera">
                                    <img class="cardpicture" src="../static/Picture/hauteur.svg" alt="hauteur">
                                </div>
                            </div>
                            <div class="rightcontainer">
                                <div class="notecontainer">
                                    <p class="note">3</p>
                                    <img class="star" src="../static/Picture/Star.svg" alt="star">
                                    <img class="star" src="../static/Picture/Star.svg" alt="star">
                                    <img class="star" src="../static/Picture/Star.svg" alt="star">
                                </div>
                                <p class="nbavis">100 avis</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="secondcontainerwrapper">
                    <div class="secondcontainer">
                        <div class="titlecontainer">
                            <h1 class="title">Garez-vous avec simplicité.</h1>
                        </div>
                        <div class="barrederecherche">
                            <input class="input" type="text" id="" name="" placeholder="Où ?" required>
                            <div class="vehicule">
                                <p class="paragraphvehicule">Je change de véhicule</p>
                                <img class="car" src="../static/Picture/Car.svg" alt="car">
                            </div>
                        </div>
                        <div>
                            <img class="map" src="../static/Picture/map.svg" alt="map">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
