<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultats de la recherche</title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/listerecherche.css">
    <link rel="stylesheet" href="/static/global.css">
</head>
<a href="/home">
<div class="navbar">
    <img class="logo" src="../static/Picture/logo.svg" alt="logo">
    <div class="navaccount">
        <img class="indication" src="../static/Picture/indication.svg" alt="indication">
        <img class="account" src="../static/Picture/account.svg" alt="account">
    </div>
</div>
</a>
<body>
    <br>
<h1 class="title">Résultats de la recherche : </h1>
<br>
{% if Infos_parking %}
    <ul>
        {% for parking in Infos_parking %}
        <a class="lien" href="/detailparking/{{ parking[0] }}">
            <li class="liste">
                <strong class="Nom_Parking">Nom Parking:</strong> <span id="bold">{{ parking[1] }}</span><br>
                <strong class="adresse">Adresse:</strong> <span id="bold">{{ parking[2] }}</span><br>
                <strong class="ville">Ville:</strong> <span id="bold">{{ parking[3] }}</span><br>
                <strong class="hauteur">Hauteur Max:</strong> <span id="bold">{{ parking[4] }}</span><br>
                <strong class="place">Places Handicapées:</strong> <span id="bold">{{ "Oui" if parking[5] else "Non" }}</span><br>
                <strong class="surveillance">Sous Surveillance:</strong> <span id="bold">{{ "Oui" if parking[6] else "Non" }}</span><br>
                <strong class="nbplace">Nombre de places disponibles:</strong> <span id="bold"> {{ nombres_places_disponibles[loop.index0] }} / {{ nombres_places_totales[loop.index0] }} </span><br>
            </li>
        </a>
        {% endfor %}
    </ul>
{% else %}
    <p>Aucun parking trouvé</p>
{% endif %}

</body>
</html>
