<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultats de la recherche</title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/global.css">
</head>
<div class="navbar">
    <img class="logo" src="../static/Picture/logo.svg" alt="logo">
    <div class="navaccount">
        <img class="indication" src="../static/Picture/indication.svg" alt="indication">
        <img class="account" src="../static/Picture/account.svg" alt="account">
    </div>
</div>
<body>
<h1>Résultats de la recherche</h1>
{% if Infos_parking %}
    <ul>
        {% for parking in Infos_parking %}
        <a href="/detailparking/{{ parking[0] }}">
            <li>
                <strong>Nom Parking:</strong> {{ parking[1] }}<br>
                <strong>Adresse:</strong> {{ parking[2] }}<br>
                <strong>Ville:</strong> {{ parking[3] }}<br>
                <strong>Hauteur Max:</strong> {{ parking[4] }}<br>
                <strong>Places Handicapées:</strong> {{ "Oui" if parking[5] else "Non" }}<br>
                <strong>Sous Surveillance:</strong> {{ "Oui" if parking[6] else "Non" }}<br>
                <strong>Couvert:</strong> {{ "Oui" if parking[7] else "Non" }}<br>
                <strong>Nombre de places disponibles:</strong> {{ nombres_places_disponibles[loop.index0] }}<br>
                <strong>Nombre Total de Places:</strong> {{ nombres_places_totales[loop.index0] }}<br>
            </li>
        </a>
        <br>
        {% endfor %}
    </ul>
{% else %}
    <p>Aucun parking trouvé</p>
{% endif %}

</body>
</html>
