<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de Connexion</title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/connexion.css">
    <link rel="stylesheet" href="/static/global.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <form method="post" action="/login">
                <h1>Se <span id="secondarycolor">connecter</span></h1>
                <div class="user">
                    <input class="input" type="text" id="username" name="username" placeholder="Entrer votre nom du joueur" required>
                </div>
                <div class="password">
                    <input class="input" type="password" id="password" name="password" placeholder="Entrer votre mot de passe" required>
                </div>
                <button type="submit" class="button">Se connecter</button>
                <div class="register">
                    <p>Vous n'avez pas de compte? <a class="special-link" href="/signup">Créer un compte</a></p>
                </div>
            </form>
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
