<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer un compte</title>
    <link rel="stylesheet" href="/static/reset.css">
    <link rel="stylesheet" href="/static/connexion.css">
    <link rel="stylesheet" href="/static/global.css">
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <form method="post" action="/signup">
                <div class="formcontainer">
                    <img class="logo" src="../static/Picture/logo.svg" alt="">
                    <h1>Créer un <span id="secondarycolor">compte</span></h1>
                    <div class="usercontainer">
                        <div class="user">
                            <label for="username">Créer votre nom d'utilisateur:</label>
                            <input class="input" type="text" id="username" name="username" required>
                        </div>
                        <div class="password">
                            <label for="password">Créer votre mot de passe:</label>
                            <input class="input" type="password" id="password" name="password" required>
                        </div>
                        <div class="immatriculation">
                            <label for="immatriculation">Entrer l'immatriculation de votre véhicule: </label>
                            <input class="input" type="immatriculation" id="immatriculation" name="immatriculation" required>
                        </div>
                    </div>
                    <button type="submit" class="button">Valider</button>
                </div>
            </form>
            <form action="/login">
                <div class="register">
                    <p class="compte"><a href="/login" class="special-link">Retour à la page de connexion</a></p>
                </div>
            </form>
            {% if error %}
                <p class="error" style="color: red;">{{ error }}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
